body {
  background: #0001351c;
}

.display-block {
  display: block !important;
}

.center-content {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.container {
  padding: 20px;
}

.loginForm--buttons {
  display: block;
  margin: 0 auto;
  text-align: center;
  /* padding: 10px; */
}

.loginForm .invalid-feedback {
  min-height: 19px;
}

.loginForm .valid-spacing {
  height: 19px;
  margin-top: 4px;
}

/* .loginForm--input {
  margin: 0 0 19px;
} */

.loginForm--buttons button {
  margin: 3px;
  letter-spacing: 1px;
  width: 100px;
}
